<div class="recipe recipe-list-item">
    <div class="recipe-list-cover">
        <img src="https://via.placeholder.com/1280x720.png/4d86c4" alt="Temp">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>
    <div class="recipe-author">
        <span class="recipe-author-item">
            Levi Satto
        </span>
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-days"></i>
            16/10/2022
        </span>
        <span class="recipe-author-item">
            <a href="/receitas/category/cafe-da-manha/">
                <i class="fa-solid fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>
    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime atque amet ea, laboriosam possimus quae natus deleniti beatae sapiente 
            saepe eum iusto sequi consequuntur accusamus!</p> 
    </div>
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-hourglass-clock"></i>Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza"></i>Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
        
    </div>
    <footer class="recipe-footer">
        <a href="/receitas/3/" class="recipe-read-more button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
</div>